/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--Font-inter);
  font-variation-settings: 'wght' 700;
  background: var(--background-color);
  color: var(--main-color);
  background-image: repeating-linear-gradient(to left, var(--first-gradient), var(--first-gradient) 2px, transparent 1px, transparent 4px),
                    repeating-linear-gradient(to top, var(--first-gradient), var(--first-gradient) 2px, transparent 1px, transparent 4px),
                    linear-gradient(180deg, var(--second-gradient));
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.width__content {
  width: var(--section-width);
}

.header {
  font-family: var(--Font-Press);
  min-height: 364px;
  align-items: center;
  margin-block-start: 102px;
  margin-block-end: 104px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background: var(--background-color);
}

.logo__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-block-start: 136px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
} 

.header__paragraph {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  white-space: nowrap;
  text-transform: uppercase;
}

.theme-menu__list {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  margin-block-start: 22px;
  gap: 11px;
  margin-inline-start: 15px;
}

.theme-menu__button {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--Font-Press);
  font-weight: 400;
  font-style: normal;
}

.theme-menu__button:active {
  opacity: 0.6;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  animation: opacity 0.3s ease forwards;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
 position: relative;
}

.theme-menu__button:focus-visible::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 2;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  animation: underline 0.3s ease forwards;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  right: 100%;
  animation: arrow 0.5s ease-in-out infinite alternate;
}


.content__start {
  background: var(--background-color);
  border: 2px solid var(--main-color);
  margin-block-end: 54px;
}

.start__title {
  font-size: 18px;
  font-weight: var(--Weight-title);
  line-height: normal;
  margin: 5px 25px 5px 10px;
}

.label {
  position: absolute;
  font-size: 14px;
  color: var(--main-color);
  text-transform: uppercase;
  font-family: var(--Font-Press);
}

.label::before {
  position: absolute;
  mix-blend-mode: hard-light;
  content: "</HTML>";
  top: 25px;
  left: 573px;
  z-index: 1;
  opacity: 0.5;
  text-shadow: 2px 2px 2px var(--background-color);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(--background-color, #FFF);
}

@supports((text-stroke: 1 var(--background-color)) or (-webkit-text-stroke: 1 var(--background-color))) {
  .label::before {
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: var(--background-color, #FFF);
    text-shadow: none;
  }
}

.image__start {
  position: relative;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  max-width: 692px;
  min-height: 696px;
}

.start__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-size: 18px;
  padding: 23px 23px 0px 23px;
  margin-block-end: 25px;
  line-height: 21px;
  font-weight: var(--Weight-text);
}

.button {
  background: none;
  border: none;
}

.button__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-inline-end: 22px;
  margin-block-end: 25px;
}

.button__text {
  font-family: var(--Font-Press);
  font-size: 14px;
  color: var(--main-color);
  line-height: 90%;
}

.footer {
  margin: 0px 175px 105px;
}

.card__icon-button {
  background-color: var(--background-color);
  padding: 0;
  border: none;
  max-inline-size: 43px;
  max-block-size: 40px;
  margin-inline-end: 5px;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
}

.card__like-button {
  position: relative;
  overflow: hidden;
  min-width: 130px;
  border: 2px solid var(--main-color);
  padding: 9px 17px;
  max-height: 40px;
}

.card__like-button:focus, .footer__button:focus {
  outline: none;
}

.card__like-button:focus-visible, .footer__button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button span, .footer__button span {
  position: relative;
  z-index: 2;
}

.card__like-button::before, .footer__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.card__like-button:hover::before, .footer__button:hover::before {
  transform: translateX(100%);
}

.theme-light .card__like-button span, .theme-light .footer__button span {
  color: var(--background-color);
  mix-blend-mode: difference;
}

.theme-dark .card__like-button span, .theme-dark .footer__button span {
  mix-blend-mode: difference;
}

.footer__button {
  display: flex;
  gap: 8px;
  position: relative;
  overflow: hidden;
  background: var(--background-color);
  border: 2px solid var(--main-color);
  align-items: center;
  padding: 15px 20px;
  max-width: 340px;
  max-height: 55px;
}

.sparks {
  opacity: 0;
}

.like-icon .core {
  fill: none;
  transition: opacity 0.3s ease-in-out, fill 0.3s ease-in-out;
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--core-color);
  opacity: 1;
}

.like-icon .main-body {
  fill: none;
  transition: opacity 0.3s ease-in-out 0.03s, fill 0.3s ease-in-out 0.03s;
  opacity: 0;
}

.like-icon:hover .main-body {
  fill: var(--main-body-color);
  opacity: 1;
  cursor: pointer;
}

.like-icon:active .core {
  fill: red;
}

.like-icon:active .main-body {
  fill: red;
}

.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s ease-in-out 0.06s;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s ease-in-out 0.06s;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s ease-in-out;
}

.heart {
  block-size: 27px;
  inline-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.like-icon.is-liked .heart {
  animation: heartScale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparkOpacity 0.3s 0.3s ease-in both;
}