/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
    --font-main: 'Inter-Variable', sans-serif;
    --font-secondary: 'PressStart2P', sans-serif;
    --weight-title: 785;
    --weight-text: 465;
    --main-color: #00cc14;
    --background-color: #000;
    --width-gradient: #000;
    --height-gradient: #007f0c, #004306;
    --contour-color: #00cc14;
    --core-color: #00cc14;
    --main-body-color: #00cc14;
    --font-settings: 785;
    --mix-color: #00cc14;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-main: 'Inter-Variable', sans-serif;
        --font-secondary: 'PressStart2P', sans-serif;
        --weight-title: 785;
        --weight-text: 465;
        --main-color: #00cc14;
        --background-color: #000;
        --width-gradient: #000;
        --height-gradient: #007f0c, #004306;
        --contour-color: #00cc14;
        --core-color: #00cc14;
        --main-body-color: #00cc14;
        --font-settings: 785;
        --mix-color: #00cc14;
    }
}

:root.theme-light {
    --font-main: 'Inter-Variable', sans-serif;
    --font-secondary: 'PressStart2P', sans-serif;
    --weight-title: 700;
    --weight-text: 400;
    --main-color: #000;
    --background-color: #FFF;
    --width-gradient: #d3d3d3;
    --height-gradient: #e7e7e7, #1a1a1a;
    --contour-color: #000;
    --core-color: #000;
    --main-body-color: #000;
    --font-settings: 700;
    --mix-color: #FFF;
}

@media (prefers-color-scheme: light) {
    :root {
        --font-main: 'Inter-Variable', sans-serif;
        --font-secondary: 'PressStart2P', sans-serif;
        --weight-title: 700;
        --weight-text: 400;
        --main-color: #000;
        --background-color: #FFF;
        --width-gradient: #d3d3d3;
        --height-gradient: #e7e7e7, #1a1a1a;
        --contour-color: #000;
        --core-color: #000;
        --main-body-color: #000;
        --font-settings: 700;
        --mix-color: #FFF;
    }
}