/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: 'Inter-Variable', sans-serif;
    --font-secondary: 'PressStart2P', sans-serif;
    --weight-title: 700;
    --weight-text: 400;
    --main-color: #000;
    --background-color: #FFF;
    --width-gradient: #d3d3d3;
    --height-gradient: #e7e7e7 , #1a1a1a;
    --section-width: clamp(320px, 100%, 696px);
    --contour-color: #000;
    --sparks-color: red;
    --core-color: #000;
    --main-body-color: #000;
    --font-settings: 700;
    --mix-color: #FFF;
    --background-dialog: #000;
}